page-login {

    
    

}


.loginpage{
        
    background-image:url('/assets/imgs/loginimage.jpg');
    background-position: center; 
}


.mrgbtn{
    margin-top: 2%;
}

.front-message{
    margin-top: 82%;
    text-align: center;
    color: white;
    font-size: 2.6ex;
}