page-dashboard {



}

.content{
    background-color: #cccccc;
}

.row-balance{
    background-color: #ffffff;
    margin:10px;
    border-radius: 12px;
}
.balance-text-left{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.balance-text-right{
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}
.imgcard-balance{
    width: 45px;
    height: 45px;
}
.fontcard-left{
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #8acc45;
}
.cardtext{
    text-align: right;
    font-size: 18px;
    color: #8b9095;
}

.bottom-left{

    align-content: center;

}

.bottom-right{
    
    align-content: center;
}